.main{
    @extend .main;
    .inicio .imgInicio{
        @include Flex(Flex, wrap, row, flex-start);
        Background-color: $ColorSec;

    }
    h2{
        font-size:45px;
        display:flex;
        justify-content: center;
    }
    p{
        font-family:map-get($TipoP, ffont);
        font-size:map-get($TipoP, fsize);
        margin:map-get($TipoP, m);
    }
}