@media screen and (max-width: 720px){

    .footer{
        font-size: 10px;
        
    }

    .topProductos{
        border-top: none;
    }
    .productoDescuento{
        border-left: none;
    }
}
