.main{
    img{
        width:100px;
        height:100px;
    }
}
.productos{
    font-family:Arial, Helvetica, sans-serif;
    Display: flex;
    Flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: flex-start;
    align-self:baseline;
    margin:10px;
    padding:10px;
}
div{
    padding:3px;
}