.main {
    .imgServicio{
    width:100px;
    height:100px;
    }
    .Servicioimg{
        div{
            img{
                // height:30%; 
                // width:35%;
                height:150px; 
                width:200px;
                Display: flex;
                Flex-direction: row;
                flex-wrap: wrap;
                justify-content:space-evenly;
                margin: 10px;
                Padding: 10px;
            
            }
        }
    }
}