$ColorPri:#f94144;
$ColorSec:#eed291;
$Colorter:#936b3a;

$TipoP:(
    ffam:Arial,
    fsize:15px,
    m:10px,
);

.main {
    background-color: $ColorSec;
    color: black;
    border: 1px solid black; 
}

@mixin Flex($Flex, $flex-wrap, $Justify-content, $align-items){
    display:$Flex;
    Flex-wrap:$flex-wrap;
    Justify-content:$Justify-content;
    align-items:$align-items;
}