*{
    margin: 0;
    Padding:0;
}
html{
    font-size:62.5%;
}
.main {
    font-size: 35px;
}

.menu li{
    display: inline-block;
    position: relative;
    font-size:20px;
    padding:0 10px;
}
.menu li a{
    text-decoration:none;

}


.header{
    background-color: #CED4DA;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    color:black;
    border: 3px solid black;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.header h1{
    font-size:30px;
}

.header h2{
    font-size:25px;
}
.submenu{
    display:none;
    position:absolute;
}

.submenu li{
    display:block;
    Background-color: #FEC89A;
}

.menu li:hover ul{
    display: block;
}

.header img{
    width:50px;
    height:50px;
}


.main{
    font-size:20px;
    background-color:#E9ECEF;
    font-family:'Times New Roman', Times, serif;
    border: solid 2px black;
    /* text-justify:inter-word; */
    text-align:justify;
}

.main h2{
    font-size:30px;
    display:flex;
    justify-content: center;
}
.section h2{
    font-size:30px;
    display:flex;
    justify-content: center;
}

.section{
    font-size: 20px;
    background-color: #E9ECEF;
    font-family:'Times New Roman', Times, serif;
    text-align:justify;
    border: solid 2px black;
}

.section img{
    width:100px;
    height:100px;
}
.footer{
    background-color: #ADB5BD;
    font-size:20px;
    padding:25px;
    border: solid 4px black;
}

