*{
    margin: 0;
    Padding:0;
}
html{
    font-size:62.5%;
}




.header{
    background-color: #CED4DA;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    color:black;
    border: 3px solid black;
    Display: flex;
    flex-direction:row;
    justify-content:space-around;
}

.header h1{
    font-size:30px;
}

.main h2{
    font-size:45px;
    Display:block;
} 


.header img{
    width:50px;
    height:50px;
}


.main{
    font-size:20px;
    background-color:#E9ECEF;
    font-family:'Times New Roman', Times, serif;
    border: solid 2px black;
    text-align:justify;
}

/* main{
    font-size:30px;
    display:flex;
    justify-content: center;
} */

.main .imgServicio{
    width:100px;
    height:100px;

}

.footer{
        background-color: #ADB5BD;
        font-size:20px;
        padding:25px;
        border: solid 4px black;
    }