.main {
  background-color: #eed291;
  color: black;
  border: 1px solid black; }

.header {
  background-color: #f94144;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  color: black;
  border: 3px solid black;
  Display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .header img {
    width: 50px;
    height: 50px; }
  .header h1 {
    font-size: 35px; }
  .header h2 {
    font-size: 30px; }

.nav {
  margin: 10px;
  padding: 10px; }

.navMenu {
  Display: flex;
  padding: 15px;
  justify-content: space-between; }

.topProductos h3 {
  font-family: Arial, Helvetica, sans-serif;
  Display: block;
  text-align: center;
  font-size: 40px;
  margin: 10px; }

.topProductos .productosTop1 {
  display: Flex;
  Flex-wrap: wrap;
  Justify-content: flex-start;
  align-items: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  align-self: baseline;
  margin: 10px;
  padding: 10px; }

.main .inicio .imgInicio {
  display: Flex;
  Flex-wrap: wrap;
  Justify-content: row;
  align-items: flex-start;
  Background-color: #eed291; }

.main h2 {
  font-size: 45px;
  display: flex;
  justify-content: center; }

.main p {
  font-size: 15px;
  margin: 10px; }

.main .foto1 img {
  display: Flex;
  Flex-wrap: wrap;
  Justify-content: center;
  align-items: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  height: 200px;
  width: 150px;
  padding: 5px; }

.productoDescuento h3 {
  font-family: Arial, Helvetica, sans-serif;
  Display: block;
  text-align: center;
  font-size: 40px;
  margin: 10px; }

.productosDescuento1 {
  font-family: Arial, Helvetica, sans-serif;
  Display: flex;
  Flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: baseline;
  margin: 10px;
  padding: 10px; }

.vistoReciente h3 {
  font-family: Arial, Helvetica, sans-serif;
  Display: block;
  text-align: center;
  font-size: 40px;
  margin: 10px; }

.vistoReciente .vistoReciente1 {
  font-family: Arial, Helvetica, sans-serif;
  Display: flex;
  Flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: baseline;
  margin: 10px;
  padding: 10px; }

.footer {
  background-color: #936b3a;
  font-size: 20px;
  padding: 25px;
  border: solid 4px black; }

@media screen and (min-width: 720px) {
  .footer {
    font-size: 20px; }
  .topProductos {
    border-top: none; }
  .productoDescuento {
    border-left: none; } }

@media only screen and (max-width: 768px) {
  .container-fluid .productos {
    font-family: Arial, Helvetica, sans-serif;
    Display: flex;
    Flex-direction: column;
    flex-wrap: no;
    justify-content: flex-start;
    align-self: baseline;
    margin: 10px;
    padding: 10px; }
  .topProductos h3 {
    font-family: Arial, Helvetica, sans-serif;
    Display: block;
    text-align: center;
    font-size: 40px;
    margin: 10px; }
  .topProductos .productosTop1 {
    display: Flex;
    Flex-wrap: wrap;
    Justify-content: flex-start;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    margin: 10px;
    padding: 10px; }
  .productoDescuento h3 {
    font-family: Arial, Helvetica, sans-serif;
    Display: block;
    text-align: center;
    font-size: 40px;
    margin: 10px; }
  .productosDescuento1 {
    font-family: Arial, Helvetica, sans-serif;
    Display: flex;
    Flex-direction: Column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: baseline;
    margin: 10px;
    padding: 10px; } }

.mainContacto h2 {
  font-size: 45px;
  font-family: 'Times New Roman', Times, serif;
  Display: flex;
  justify-content: center; }

.mainContacto h4 {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif; }

.mainContacto p {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif; }

.mainContacto label {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif; }

.top-buffer {
  margin-top: 20px; }

.copyContacto {
  margin-bottom: 10px; }

.parrafoContacto {
  margin-top: 20px; }

.main .imgServicio {
  width: 100px;
  height: 100px; }

.section {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  border-left: solid 2px black; }

.main img {
  width: 100px;
  height: 100px; }

.productos {
  font-family: Arial, Helvetica, sans-serif;
  Display: flex;
  Flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: baseline;
  margin: 10px;
  padding: 10px; }

div {
  padding: 3px; }

* {
  margin: 0;
  Padding: 0; }

html {
  font-size: 62.5%; }

.foto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%; }
